{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans "Dashboard" %}{% endblock %}
{% block page_title %}{% trans "Dashboard" %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box text-bg-info">
                    <div class="inner">
                        <h3>{{ daily_sales|floatformat:2 }} UZS</h3>
                        <p>{% trans "Daily Sales (Today)" %}</p>
                    </div>
                    <svg class="small-box-icon" fill="currentColor" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
{% endblock %}